$background-color: #0a1022;
$border-color: #1a233d;
$animation-duration: 0.5s;

.left-sidebar {
  flex-grow: 2;
  max-width: 320px;
  border-right: 1px solid $border-color;
  position: relative;
  transition: all $animation-duration;
  box-shadow: 2px 0px 5px #03050a;

  &.minimized {
    max-width: 100px;

    .toggle-button svg {
        transform: rotate(180deg);
      }
  }

  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

/* Toggle Button */
.toggle-button {
  position: absolute;
  top: 50%;
  left: 100%;
  border: 1px solid #1a233d;
  width: 25px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  transform: translate(0, -50%);
  box-shadow: 2px 0px 5px #03050a;
  background: #0a1022;
  z-index: 1;

   &:hover {
    background: $border-color;
   }

  i::before {
    transition: all $animation-duration / 2;
  }
}
