$background-color: #0a1022;
$border-color: #1a233d;
$animation-duration: 0.5s;


.user-profile {
  flex-grow: 2;
  max-height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all $animation-duration;
  border: $border-color;
  position: relative;
  overflow: hidden;

  .user-background {
    position: absolute;
    background: url('https://gravatar.com/avatar/de84db04b0c7b43efdc840391ffe56ff');
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    z-index: -1;

    &::after {
      display: block;
      position: relative;
      background-image: linear-gradient(to bottom, rgba(23, 32, 61, 0.3) 0, #0a1022 95%);
      height: 100%;
      width: 100%;
      content: '';
    }
  }

  .user-image {
    margin: 50px 0 25px 0;
    border-color: $border-color;
    transition: all $animation-duration;
    img {
      width: 90px;
      border-radius: 50%;
      border: 6px solid rgba(255, 255, 255, 0.1);
      transition: all $animation-duration;
    }
  }

  .user-info {
    text-align: center;

    .user-name {
      font-family: 'Oswald';
      font-weight: 400;
      text-transform: uppercase;
    }

    .user-location {
      color: #D1D3DA;
      i::before {
        transform: rotate(180deg);
        color: #556798;
      }
    }
  }
}
